body {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-size: 16px;
}

header {
  background-color: #c02227;
  color: white;
  text-align: center;
  padding: 1em 1em;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

header img {
  width: 20%;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  padding: 0;
  justify-content: center;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.matches {
  display: flex;
  flex-direction: column;
  margin: 1em 1em;
}

.match-score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  align-items: center;
  height: 40px;
  text-align: center;
}

.match-score img {
  width: 30px;
  height: auto;
}

.team {
  display: flex;
  align-items: center;
  gap: 0.5em;
  max-width: 40%;
}

.team.away{
  justify-content: start;
}

.team.home {
  justify-content: end;
}

.score h3 {
  margin: 0;
}

.score p {
  text-align: center;
}
.score {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}

.match-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match-info p {
  margin: 0;
  font-size: 0.8rem;
}


.match-date {
  margin-bottom: 0;
  padding-left: 1em;
}

.card {
  margin: 1em 5em 3em;
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
  border-bottom: 1px solid #c02227;
}

.nav-link.active {
  color: black;
  text-decoration: underline;
}

.nav-link:hover {
  color: black;
}

.standings {
  display: flex;
  margin: 1em;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

.quarters {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  justify-content: space-evenly;
}

.group {
  border: 1px solid #c02227;
  border-radius: 5px;
  max-width: 90px;
  white-space: normal;   
  word-break: break-word;
  overflow-wrap: break-word;
  background-color: #c02227;
}

.group h3 {
  margin: 2px;
  border: 1px solid #c02227;
  padding: 5px;
  background-color: white;
}

.standings-tables {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
}

.group-table {
  border-radius: 12px;
  padding: 1rem;
}

.group-table h3 {
  text-align: center;
  margin-bottom: 0.75rem;
  font-size: 1.4rem;
  color: #333;
}

.group-table table {
  width: 100%;
  border-collapse: collapse;
}

.group-table thead {
  background-color: #c02227;
  color: white;
}

.group-table th,
.group-table td {
  text-align: center;
  padding: 0.6rem;
  font-size: 0.95rem;
}

.group-table tbody tr:nth-child(even) {
  background-color: #c02227;
  color: white;
}

.tournament-teams {
  padding: 1em 3em;
}


.tournament-teams a {
  text-decoration: none;
  color: black;
}

.tournament-teams img {
  width: 40px;
}

.teams-list {
  border: 1px solid #c02227;
  margin: 1em 0;
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  gap: 1em;
  white-space: normal;   
  word-break: break-word;
  overflow-wrap: break-word;
  border-radius: 5px;
}

.teams-list:hover {
  background-color: #c02227;
  cursor: pointer;
  color: white;
}

.admin-teams {
  padding: 1em 2em;
  align-items: end;
}

.add-team-btn {
  background-color: #c02227;
  color: white;
  font-weight: bold;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  width: 20%;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
}

.add-team {
  margin: 1em;
}

.add-team form {
  display: flex;
  flex-direction: column;
}

.team-name {
  border-radius: 5px;
  border: 2px solid #c02227;
  padding: 1em 1em;
  margin-bottom: 2em;
}

.img-input {
  margin-bottom: 2em;
}

.add-team select {
  border-radius: 5px;
  border: 2px solid #c02227;
  padding: 0.5em;
  margin-bottom: 2em;
}

.add-team button {
  background-color: #c02227;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 1em;
  border: none;
}

.organize-btns {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.organize-btns select {
  height: 40px;
}

.equipa-card {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 2em 0 0;
  border: 1px solid #c02227;
  border-radius: 5px;
  padding: 1em;
  white-space: normal;   
  word-break: break-word;
  overflow-wrap: break-word;
  min-height: 100px;
}

.equipa-card-link {
  text-decoration: none;
  color: black;
}

.equipa-card img {
  width: 60px;
}

.teams-added {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 1em;
}

.teams-added-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.teams-added-info h3, p {
  margin: 0;
}

@media (min-width: 768px) {
  header {
    padding: 1em 3em;
    display: flex;
  }

  .logo-container {
    flex-direction: row;
  }

  header img{
    width: 10%;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    background: none;
    gap: 1em;
    font-size: 1.5rem;
  }

  .menu-toggle {
    display: none;
  }

  .match-score {
    font-size: 2rem;
  }

  .match-score img {
    width: 70px;
  }

  .match-info p{
    font-size: 1rem;
  }

  .team {
    min-width: 40%;
  }

  .group {
    width: 300px;
    max-width: 300px;
  }

  .standings-tables {
    grid-template-columns: 1fr 1fr;
  }

  .teams-list {
    font-size: 2rem;
  }

  .teams-list img {
    width: 80px;
  }

  .teams-added {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
